.card{
    width: 60%;
    margin: 30px auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.button-div{
    width: 120px;
}
.car-info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.button-div2{
    margin: 20px auto;
    width: 30%;
}
.inp{
    margin: 0 5px;
    padding: 10px;
}
.car-img{
    height: 150px;
    width: 225px;
    margin: 10px;
    border-radius: 10px;
}